apiVersion: apps/v1
kind: Deployment
metadata:
  name: ollama
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ollama
  template:
    metadata:
      labels:
        app: ollama
    spec:
      containers:
      - name: ollama
        image: ollama/ollama
        args: ["serve"]  # Ollama server mode
        ports:
        - containerPort: 11434
        volumeMounts:
        - mountPath: /root/.ollama ## mounting the models
          name: ollama-storage
        resources:
          requests:
            memory: "2Gi"
            cpu: "2"
          limits:
            memory: "3Gi"
            cpu: "4"
      volumes:
      - name: ollama-storage
        persistentVolumeClaim:
          claimName: ollama-pvc
